body {
  background-color: black;
  color: white;
}

@font-face {
  font-family: NetFlixSans;
  src: url("../fonts/Netflix\ Sans\ Medium.otf") format("opentype");
}

@font-face {
  font-family: Spider-ManFont;
  src: url("../fonts/Spiderman-Homecoming.otf") format("opentype");
}

.movie-hunt-navbar {
  padding: 10px;
  top: 0;
  flex-direction: column;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 5;
  transition: background 0.3s ease-in-out;
}

.movie-hunt-navbar--black {
  background-color: rgba(0, 0, 0, 1);
}

.website-logo {
  text-decoration: none;
  font-family: Spider-ManFont;
  color: #e50914;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 10px;
}

.website-logo:hover {
  text-decoration: none;
  color: #e50914;
}

.movie-hunt-navbar__burger-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  padding: 0;
}

.movie-hunt-navbar__burger-wrapper.navbar__burger--open
  .movie-hunt-navbar__burger {
  background-color: transparent;
  box-shadow: none;
}

.movie-hunt-navbar__burger-wrapper.navbar__burger--open
  .movie-hunt-navbar__burger::before {
  transform: rotate(45deg) translate(0.1px, 0.2px);
}

.movie-hunt-navbar__burger-wrapper.navbar__burger--open
  .movie-hunt-navbar__burger::after {
  transform: rotate(-45deg) translate(-0.1px, -0.2px);
}

.movie-hunt-navbar__burger {
  width: 20px;
  height: 2px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.movie-hunt-navbar__burger::before,
.movie-hunt-navbar__burger::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.3s ease-in-out;
}

.movie-hunt-navbar__burger::before {
  transform: translateY(-8px);
}

.movie-hunt-navbar__burger::after {
  transform: translateY(8px);
}

.navbar-links-wrappers__container {
  text-align: center;
}

#movie-hunt-navbar__nav > ul {
  padding: 0;
}

.navbar-links__wrapper {
  list-style: none;
  margin: 20px 0;
}

.navbar__links {
  text-decoration: none;
  color: #d6d7dd;
  font-family: NetFlixSans;
  transition: color 0.15s ease-in-out;
}

.navbar__links:hover {
  text-decoration: none;
  color: #bebebe;
}

.user-tab {
  display: flex;
  color: white;
  align-items: center;
  margin-bottom: 18px;
}

.user-prof-pic {
  width: 50px;
  height: 50px;
  background-image: url("../img/koroSensei.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .movie-hunt-navbar {
    padding: 0;
    flex-direction: row;
  }

  .website-logo {
    margin-left: 60px;
  }

  #movie-hunt-navbar__nav {
    justify-content: center;
  }

  #movie-hunt-navbar__nav > ul {
    display: flex;
  }

  .navbar-links__wrapper {
    margin: 20px 20px;
  }
}

@media screen and (min-width: 992px) {
  .user-tab {
    margin-left: 90px;
  }
}

@media screen and (min-width: 1200px) {
  #movie-hunt-navbar__nav > ul {
    margin-left: 300px;
  }
  .user-tab {
    margin-left: 0;
  }
}

@media screen and (min-width: 1400px) {
  .user-tab {
    margin-left: 90px;
  }
}

a {
  text-decoration: none;
  color: white;
  padding: 30px;
}
#n2 {
  left: 65px;
  position: relative;
  padding: 5px;
}
#n1 {
  float: left;
  padding: 10px;
}
#p0 {
  text-indent: 4em;
}
#p1 {
  text-indent: 4em;
}
#pics {
  float: left;
  padding: 30px;
  max-width: 960px;
  margin: auto;
}
#d1 {
  max-width: 970px;
}
.center {
  float: right;
  width: 40%;
  padding: 20px;
}
.column {
  float: left;
  padding: 60px;
}
figcaption {
  text-align: center;
  position: relative;
  padding: 5px;
}
#n1 {
  float: left;
  padding: 10px;
}
#p0 {
  text-indent: 4em;
}
#p1 {
  text-indent: 4em;
}
#pics {
  float: left;
  padding: 30px;
  max-width: 960px;
  margin: auto;
}
#d1 {
  max-width: 970px;
}
.center {
  float: right;
  width: 40%;
  padding: 20px;
}
.column {
  float: left;
  padding: 60px;
}
figcaption {
  text-align: center;
}
