body {
  background-color: black;
}

@font-face {
  font-family: NetFlixSans;
  src: url("../fonts/Netflix\ Sans\ Medium.otf") format("opentype");
}

.sign-up-form__wrapper {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}

.sign-up-form__wrapper > h1 {
  color: white;
  font-family: NetFlixSans;
  margin-bottom: 40px;
}

.signup-form-inputs {
  margin-bottom: 20px;
  position: relative;
}

.check-update-label {
  color: white !important;
  font-weight: lighter;
}

.range-recommend-label {
  color: white;
}

.range-output {
  color: white;
}

.signup-btn {
  margin-top: 40px;
}
